{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">

{% endblock %}
{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}
            <input type="hidden" name='operation' value="{{ request.user.id }}"/>
            <input type="hidden" name="purchase_status" value="1">
            <div class="box-body">
                <fieldset>
                    <legend>
                        <div class="form-group has-feedback">
                            <div class="col-sm-8"><a>成品</a><small>|</small><a href="/personal/stockmanage_Icrt/update?compose=1">组合产品</a></div>
                        </div>
                    </legend>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">订单号</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="order_number" readonly="readonly"
                                   value="{{ new_number }}" type="text"/>
                        </div>
                        <label class="col-sm-2 control-label">审批人</label>
                        <div class="col-sm-3">
                            <span class="form-control" readonly="readonly">{{ operation_manager.name }}</span>
                            <input class="form-control" name="operation_manager" value="{{ operation_manager.id }}"
                                   type="hidden"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">系统SKU</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="system_sku" readonly type="text" value="{{ stock.system_sku }}"/>
                        </div>
                        <label class="col-sm-2 control-label">母体SKU</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="maternal_sku" readonly value="{{ stock.maternal_sku.sku }}"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                         <label class="col-sm-2 control-label">库存数量</label>
                        <div class="col-sm-3">
                            <input class="form-control" readonly type="text"
                                   value="{{ stock.stock_quantity }}"/>
                        </div>
                        <label class="col-sm-2 control-label">申请发出数量</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="purchase_quantity" min="1" max="{{ stock.stock_quantity }}" type="number"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback hidden">
                        <label class="col-sm-2 control-label">订单状态</label>
                        <div class="col-sm-3">
                            <select class="form-control select2 " style="width:100%;" name="status">
                                <option value="1">新建-保存</option>
                                <option value="2">提交-等待审批</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">是否成品</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="finish_status">
                                {% for type in type_list %}
                                    <option value="{{ type.item }}">{{ type.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">产品中文名</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="product_chinese_name" readonly type="text"
                                   value="{{ stock.product_chinese_name }}"/>
                        </div>
                        <label class="col-sm-2 control-label">对照码</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="comparison_code" readonly type="text"
                                   value="{{ stock.comparison_code }}"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">最近30天销量</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="sales_30" type="text"/>
                        </div>
                        <label class="col-sm-2 control-label">采购链接</label>
                        <div class="col-sm-3">
                            <input class="form-control" readonly name="purchase_link" type="text"
                                   value="{{ stock.purchase_link }}"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">上传图片</label>
                        <div class="col-sm-3">
                            <input type="hidden" name='img' value="{{ stock.img }}"/>
                             <img src="{{ stock.img }}" width="80px" height="80px;">
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">备注内容</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="remark" rows="5"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">提交</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'personal-workorder-create' %}",
                data: data,
                cache: false,
                beforeSend: function () {
                    this.layerIndex = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                },
                success: function (msg) {
                    layer.closeAll('loading');
                    if (msg.status == 'success') {
                        layer.alert('库存记录修改成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll();
                        });
                    } else if (msg.status == 'fail') {
                        layer.alert(msg.stock_form_errors, {icon: 5});
                    }
                    return;
                }
            });
        });
        $(".btnCreate").click(function () {
            let url = $(this).attr("title");
                var div = layer.open({
                    type: 2,
                    title: '新增商品库存',
                    shadeClose: false,
                    maxmin: true,
                    area: ['800px', '600px'],
                    content: url,
                    end: function () {
                        //关闭时做的事情
                        oDataTable.ajax.reload();
                    }
                });
                layer.full(div)
            });
        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        })

        /*通过按钮关闭弹layer弹出的页面窗口*/
        {#    $(document).ready(function(){#}
        {#        $("#btnCancel").click(function(){#}
        {#            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引#}
        {#            parent.layer.close(index);//关闭窗口#}
        {#        });#}
        {#    });#}

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            //format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        // select2
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>

{% endblock %}
