{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">

{% endblock %}
{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}
            <input type="hidden" name='operation' value="{{ request.user.id }}"/>
            <div class="box-body">
                <fieldset>
                    <legend>
                        <div class="form-group has-feedback">
                            <div class="col-sm-8">创建订单</div>
                        </div>
                    </legend>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">订单号</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="order_number" readonly="readonly"
                                   value="{{ order.order_number }}" type="text"/>
                        </div>
                        <label class="col-sm-2 control-label">系统SKU</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="system_sku" type="text" value="{{ order.system_sku }}"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">上传图片</label>
                        <div class="col-sm-3">
                            <input type="file" id="img" name="img">
                        </div>
                        <label class="col-sm-2 control-label">订单状态</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="status">
                                <option value="{{ order.status }}">{{ order.get_status_display }}</option>
                                <option value="1">新建-保存</option>
                                <option value="2">提交-等待审批</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">产品中文名</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="product_chinese_name" type="text" value="{{ order.product_chinese_name }}"/>
                        </div>
                        <label class="col-sm-2 control-label">是否成品</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="finish_status">
                                <option value="{{ order.finish_status }}">{{ order.get_finish_status_display }}</option>
                                {% for type in type_list %}
                                    <option value="{{ type.item }}">{{ type.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">对照码</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="comparison_code" type="text" value="{{ order.comparison_code }}"/>
                        </div>
                        <label class="col-sm-2 control-label">采购数量</label>
                        <div class="col-sm-3">
                            <input class="form-control" value="{{ order.purchase_quantity }}" name="purchase_quantity" type="text" oninput="value=value.replace(/[^\d]/g,'')"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">采购链接</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="purchase_link" type="text" value="{{ order.purchase_link }}"/>
                        </div>
                        <label class="col-sm-2 control-label">最近30天销量</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="sales_30" type="text" value="{{ order.sales_30 }}"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">审批人</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="operation_manager">
                                <option value="{{ order.approver_id }}">{{ order.approver.name }}</option>
                                {% for app in approver %}
                                    <option value="{{ app.id }}">{{ app.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">备注内容</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="remark" rows="5">{{ order.remark }}</textarea>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'personal-workorder-create' %}",
                data: data,
                cache: false,
                beforeSend: function () {
                    this.layerIndex = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                },
                success: function (msg) {
                    layer.closeAll('loading');
                    if (msg.status == 'success') {
                        layer.alert('工单保存成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else if (msg.status == 'fail') {
                        layer.alert(msg.work_order_form_errors, {icon: 5});
                    } else if (msg.status == 'submit') {
                        layer.alert('工单申请已提交，邮件发送失败！', {icon: 0}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else if (msg.status == 'submit_send') {
                        layer.alert('工单申请已提交,邮件发送成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    }
                    return;
                }
            });
        });

        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        })

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            //format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        // select2
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>

{% endblock %}
